<div class="bg-dark mt-5 container-fluid py-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-4 text-center">
            <button (click)="navegar('about')" class="btn btn-dark my-2 my-md-0">Acerca de</button>
        </div>
        <div class="col-12 col-md-4 text-center">
            <button (click)="navegar('faq')" class="btn btn-dark my-2 my-md-0">Preguntas frecuentes</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col text-center">
            <p class="text-muted">
                E.D.O. 2020. Todos los derechos reservados.
            </p>
        </div>
    </div>
</div>